/* RESETS
    Here you put styles that modify the original behavior CSS/HTML had,
    for example: list elements come with a little circle that nobody uses anymore.
 */
ul{margin: 0; padding:0;}
ul li{list-style: none;}

/* 
    BEHAVIORAL STYLES
    for example: .horizontal, .container, .p-1 (for padding one)
*/
.p-1{ padding: 10px; }




/* 
    SPECIFIC TO YOUR WEBSITE 
    The more senior you become the less you have specific styles
*/
